/* Homepage form, radio buttons */
.form-front-page {
   justify-content: center;
   align-items: center;
}

label {
  margin-bottom: 0.5rem;
}

.auraOne {
  color: $aura-1;
  background-color: $aura-1;
}

.auraTwo {
  color: $aura-2;
  background-color: $aura-2;
}

.auraThree {
  color: $aura-3;
  background-color: $aura-3;
}

.auraFour {
  color: $aura-4;
  background-color: $aura-4;
}

.auraFive {
  color: $aura-5;
  background-color: $aura-5;
}

.auraSix {
  color: $aura-6;
  background-color: none;
}

.auraSeven {
  color: $aura-7;
  background-color: $aura-7;
}

.auraEight {
  color: $aura-8;
  background-color: $aura-8;
}

.auraNine {
  color: $aura-9;
  background-color: $aura-9;
}

.auraTen {
  color: $aura-10;
  background-color: $aura-10;
}

.auraEleven {
  color: $aura-11;
  background-color: $aura-11;
}

.auraTwelve {
  color: $aura-12;
  background-color: $aura-12;
}

.auraThirteen {
  color: $aura-13;
  background-color: $aura-13;
}
