.icon-one {
	font-size: 1.1rem;
	color: $icon1;
}

.icon-two {
	font-size: 7rem;
	color: $error1;
	filter: drop-shadow(0 0 2px);
}
.icon-three {
	font-size: 7rem;
	color: $error2;
	filter: drop-shadow(0 0 2px);
}
